<div class="sidebar-options-container">
    <a href="/dashboard"  class="sidebar-options">
        <div class="sidebar-options-item">
            <img src="/img/dashboard.svg" alt="Dashboard" height="30px" width="30px">
        </div>
        <div class="sidebar-options-text">
            Dashboard
        </div>
    </a>
    <a href="/car" class="sidebar-options">
        <div class="sidebar-options-item">
            <img src="/img/cars.svg" alt="Dashboard" height="30px" width="30px">
        </div>
        <div class="sidebar-options-text">
            Cars
        </div>
    </a>
</div>
<div class="sidebar-page">
    <div class="sidebar-page-now">
        <%= thisLayout %>
    </div>
    <div class="sidebar-page-content">
        <%= thisContent %>
    </div>
</div>