<% for (let userNumber = 1; userNumber <= totalRows; userNumber++) { %>
    <tr>
        <th scope="row"><%- userNumber %></th>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
    </tr>
<% }; %>