<% for (let userNumber = 1; userNumber <= totalRows; userNumber++) { %>
    <tr>
        <th scope="row"><%- userNumber %></th>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Uploaded at</td>
    </tr>
<% }; %>